#     ###                     ### #
#      ##                      ## #
#      ##    ####     ####     ##  ##   ####    ###### #
#   #####   ##  ##   ##  ##    ## ##   ##  ##    ##  ## #
#  ##  ##   ##  ##   ##        ####    ######    ## #
#  ##  ##   ##  ##   ##  ##    ## ##   ##        ## #
#   ######   ####     ####     ##  ##   #####   #### #
#
#
#    ## #
#
#   ###      ### ##  #####     ####    ######    #### #
#    ##     ##  ##   ##  ##   ##  ##    ##  ##  ##  ## #
#    ##     ##  ##   ##  ##   ##  ##    ##      ###### #
#    ##      #####   ##  ##   ##  ##    ##      ## #
#   ####        ##   ##  ##    ####    ####      ##### #
#           ##### #

# git
.git
# nodejs
node_modules/
npm-debug

build
releases
installers
.DS_Store
.tmp
dist/
